// creo un recuadro DIV para algunos titulos

$title: (
    margin-title: 20px,
    padding-title: 5px,
    font-family-title: 'Edu VIC WA NT Beginner' cursive,
    font-size-title: 20px,
    color-title: $color-texto-primario,
);
